<section class="contact" id="contact">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-5 h-100 p-3 mx-2 pb-5 box-shadow" data-aos="zoom-in">
        <div class="title px-2 title-36 mt-5">
          <h3>Sell Your House Instantly</h3>
          <p>Simply tell us about your house and get a guaranteed cash offer within 24 hours</p>
        </div>
        <input
          class="form-control px-2 p-2 mt-5 box-shadow mb-3"
          type="text"
          placeholder="Submit your house details"
          aria-label="default input example"
        />
        <button type="button" class="btn px-2 button border-0 w-100 mt-3 mb-5 btn-lg">Get your offer</button>
      </div>
      <div class="col-lg-6 mx-2 p-5 box-shadow" data-aos="zoom-in">
        <span>Get in Touch</span>
        <input
          class="form-control p-2 mt-5 box-shadow mb-2"
          type="text"
          placeholder="Your name"
          aria-label="default input example"
        />
        <input
          class="form-control p-2 mt-3 box-shadow mb-2"
          type="text"
          placeholder="Your email address"
          aria-label="default input example"
        />
        <input
          class="form-control p-2 mt-3 box-shadow mb-2"
          type="text"
          placeholder="Your phone number"
          aria-label="default input example"
        />
        <input
          class="form-control p-2 mt-3 box-shadow mb-3"
          type="text"
          placeholder="Subject"
          aria-label="default input example"
        />
        <div class="form-floating">
          <textarea class="form-control box-shadow" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Leave a message</label>
        </div>
        <button type="button" class="btn button float-end border-0 mt-3 mb-5 btn-lg">Submit Now</button>
      </div>
    </div>
  </div>
</section>
