<div class="features container">
  <h2 class="title text-center">Key Features</h2>
  <div class="line"></div>
  <div class="content row d-flex justify-content-center flex-wrap">
    <div class="item box-shadow m-1 text-center">
      <img src="../img/icon-one.svg" alt="item-01" />
      <h4 class="mb-3">No Viewing or Showing to Stragers</h4>
      <p>
        Nervous about your property adventure? Don’t be. Whether you're getting ready to buy or sell, in the middle of
        it, or just looking for some answers, our top-notch skills ensure you get the best experience possible. It’s
        what we love to do.
      </p>
    </div>
    <div class="item box-shadow m-1 mx-3 text-center">
      <img src="../img/icon-two.svg" alt="item-02" />
      <h4 class="mb-3">No Viewing or Showing to Stragers</h4>
      <p>
        Large or small, condo or mansion, we can find it and get it for you at the price that's right. TICs?
        Fixer-uppers? Luxury? We can help with all of it. We always have a current list of available properties for you
        to check out.
      </p>
    </div>
    <div class="item box-shadow m-1 text-center">
      <img src="../img/icon-three.svg" alt="item-03" />
      <h4 class="mb-3">No Viewing or Showing to Stragers</h4>
      <p>
        Nervous about your property adventure? Don’t be. Whether you're getting ready to buy or sell, in the middle of
        it, or just looking for some answers, our top-notch skills ensure you get the best experience possible. It’s
        what we love to do.
      </p>
    </div>
  </div>
</div>
