.housecard {
  padding-top: 182px;
  margin-bottom: 150px;
  &__card {
    max-width: 384px;
    width: 100%;
    background: $color-secondary;
    line-height: 28px;
    margin: 3px;

    h6 {
      font-size: 22px;
      font-weight: bold;

      color: white;
    }
    .opacity {
      opacity: 0;
    }
    .height {
      min-height: 83px;
    }
    .text {
      p {
        color: white;
        padding: 10px 10px;
        margin: 0;
        line-height: 23px;
      }
      .icon-text {
        i {
          color: white;
        }
      }
    }
  }
}
