.form {
  margin-top: 51px;
  background-color: #6a3414;
  padding: 20px;
  width: 100%;
  max-width: 753px;
  margin: 20px auto;

  input {
    width: 70%;
    padding: 19px 0 19px 24px;
  }
  button {
    width: 30%;
  }
}
